@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    flex-direction: column;
}

body {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('https://images.hdqwalls.com/wallpapers/vector-landscape-reflection-mountains-4k-md.jpg');
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
    background-color: #141E28;
    border-bottom: 2px solid white;
    z-index: 9999
}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a:nth-child(1),
.navigation a:nth-child(2),
.navigation a:nth-child(3),
.navigation a:nth-child(4) {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

nav.navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: 0.5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.icons {
    transform: translateY(3px);
}

.ticket:nth-child(1) {
    margin-top: 100px;
}

textarea::placeholder {
    color: whitesmoke;
    opacity: 1;
}

textarea {
    width: 90%;
    padding: 10px;
    outline: 0;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background: transparent;
    backdrop-filter: blur(5px);
    font-size: 1em;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.tickets-list {
    width: 100%;
    color: white;
}

.ticket-status {
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 1%;
}

h3 {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

h4 {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 2%;
}

form {
    margin: 10%;
    border: 1px solid white;
    border-radius: 3px;
}

button {
    margin-left: 5%;
    margin-bottom: 3%;
    border-color: white;
    background-color: #141E28;
    color: white;
    letter-spacing: 2px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.5s all;
}

button:hover {
    padding: 5px 30px;
    letter-spacing: 5px;
    background-color: white;
    color: #141E28;
}
